@media (max-width: 767px) {
    body {
        font-size: 5vw; /* Увеличиваем размер шрифта для мобильных */
    }

    #character img {
        width: 60vw; /* Увеличиваем размер изображения */
        height: 60vw;
    }

    #character img:hover {
        width: 65vw;
        height: 65vw;
    }

    #character-name {
        font-size: 10vw; /* Увеличиваем размер шрифта имени */
    }

    #faction-image {
        width: 7vw; /* Увеличиваем размер изображения фракции */
        height: 7vw;
    }

    #faction-name {
        font-size: 4vw; /* Увеличиваем размер шрифта фракции */
    }

    #newCharacterButton {
        font-size: 6vw; /* Увеличиваем размер шрифта кнопки */
    }

    #newCharacterButton.stop-pulse {
        font-size: 5vw;
    }
}